./Api/ShopAppApi/.vs
./Api/ShopAppApi/ShopAppApi/.vs
./Api/ShopAppApi/ShopAppApi/bin
./Api/ShopAppApi/ShopAppApi/obj
./Api/ShopAppApi/ShopAppApi/*.user
./Api/ShopAppApi/ShopAppApi/.Tests/bin
./Api/ShopAppApi/ShopAppApi/.Tests/obj
./Api/ShopAppApi/ShopAppApi/ShopAppApi.xml
./Api/ShopAppApi/ShopAppApi/ShopAppApi - Backup*.csproj
./Api/ShopAppApi/ShopAppApi/.Tests/ShopAppApi - Backup*.csproj

./Api/RSATokenCreator/.vs
./Api/RSATokenCreator/RSATokenCreator/.vs
./Api/RSATokenCreator/RSATokenCreator/bin
./Api/RSATokenCreator/RSATokenCreator/obj
./Api/RSATokenCreator/RSATokenCreator/*.user
./Api/RSATokenCreator/RSATokenCreator/RSATokenCreator - Backup*.csproj

.idea